<th:block th:fragment>
    <nav class="navbar navbar-expand-lg navbar-dark bg-color">
        <a class="navbar-brand h4 text-dark" th:href="@{/}">Eventures™</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end row" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
                <li class="nav-item active col-md-4">
                    <a class="nav-link h5 text-dark" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item active col-md-4">
                    <a class="nav-link h5 text-dark" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item active col-md-4">
                    <a class="nav-link h5 text-dark" th:href="@{/register}">Register</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item active col-md-3">
                        <a class="nav-link h5 text-dark" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item dropdown col-md-3 px-0">
                        <a class="nav-link dropdown-toggle h5 text-dark" href="#" id="eventDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Events
                        </a>
                        <div class="dropdown-menu" aria-labelledby="eventDropdown">
                            <a class="dropdown-item" th:href="@{/events/all}">All Events</a>
                            <a class="dropdown-item" th:href="@{/events/my}">My Events</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/events/create}">Create Event</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown col-md-3 px-0">
                        <a class="nav-link dropdown-toggle h5 text-dark" href="#" id="orderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Orders
                        </a>
                        <div class="dropdown-menu" aria-labelledby="orderDropdown">
                            <a class="dropdown-item" th:href="@{/orders/all}">All Orders</a>
                        </div>
                    </li>
                    <li class="nav-item active col-md-3 mt-2">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn-logout h5 text-dark mb-0" type="submit">Logout</button>
                        </form>
                    </li>
                </th:block>
                <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
                    <li class="nav-item active col-md-4">
                        <a class="nav-link h5 text-dark" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item dropdown col-md-4 px-0">
                        <a class="nav-link dropdown-toggle h5 text-dark" href="#" id="eventDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Events
                        </a>
                        <div class="dropdown-menu" aria-labelledby="eventDropdown2">
                            <a class="dropdown-item" th:href="@{/events/all}">All Events</a>
                            <a class="dropdown-item" th:href="@{/events/my}">My Events</a>
                        </div>
                    </li>
                    <li class="nav-item active col-md-4 mt-2">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn-logout h5 text-dark mb-0" type="submit">Logout</button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</th:block>